@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
body{
    background-color: rgb(190, 215, 221);
    font-family: 'Slabo 27px', serif;
    line-height: 1.6em;
    margin: 0;
}
.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: lightseagreen;
    color: rgb(48, 5, 68);
}
nav{
    background-color:rgb(201, 189, 226);
    color: white;
}
nav ul{
    padding: 0;
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    color: #52415a;
    text-decoration: none;
    font-size: 22px;
    padding-right: 15px;
}
nav a:hover{
    text-decoration: underline;
    color: lightseagreen;
}
#presentacion{
    background-image: url("img/imagen3.jpg");
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#presentacion h2{
    color: white;
    font-size: 50px;
    line-height: 1.6em;
}
main{
    float: left;
    width: 70%;
    padding: 0px 30px;
    box-sizing: border-box;
}
aside{
    float: right;
    width: 30%;
    background-color: tomato;
    color: whitesmoke;

    padding: 30px;
    box-sizing: border-box;
}
footer{
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
}
@media (max-width:600px){
    main{
        width: 100%;
        float:none;
    }
    aside{
        width: 100%;
        float: none;
    }
}